{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Locale }}" href="{{ .Permalink }}">
{{ end }}
{{ if .IsHome }}
  <link rel="alternate" hreflang="x-default" href="{{ absURL "" }}">
{{ end }}

{{ if .IsPage }}
  {{ $toc := default .Site.Params.Entry.toc .Params.toc }}
  {{ if and (eq .Section "posts") $toc }}
    {{ $tocScript := resources.Get "js/post-toc.js" | minify | fingerprint }}
    <script defer src="{{ $tocScript.RelPermalink }}" integrity="{{ $tocScript.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  {{ if eq .Section "posts" }}
    {{ $selectionCommentScript := resources.Get "js/selection-comment.js" | minify | fingerprint }}
    <script defer src="{{ $selectionCommentScript.RelPermalink }}" integrity="{{ $selectionCommentScript.Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
{{ end }}
