{{ define "title" }}
  {{ i18n .Data.Plural | default .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <section class="container page list collection-page">
    <article>
      <header>
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">{{ i18n .Data.Plural | default .Title }}</a>
        </h1>
      </header>

      <div class="collection-list">
        {{ range .Data.Terms.Alphabetical }}
          <article class="collection-row">
            <div>
              <a class="collection-title" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
              <p>{{ i18n "post_count" .Count }}</p>
            </div>
          </article>
        {{ end }}
      </div>
    </article>
  </section>
{{ end }}
